* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.page {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.page .header {
display: flex;
align-items: center;
}

.page .header .brand-name {
  display: flex;
  flex-direction: column;
}

.page .header .brand-img {
  margin-left: 50px;
  margin-right: 10px;
}

.page .header .brand-name .brand-topics {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: auto;
}

.page .header .brand-name .brand-topics i {
  margin: 0 5px;
}

.page .content {
  padding: 0 10px;
}

.page .content h1 {
  margin-top: 20px;
  text-align: center;
}

.page .content .post-list .post-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex: 1 0 auto;
  margin-top: 10px;
}

.page .content .post-list .post-item a {
  font-weight: 800;
  color: rgba(102, 102, 102, 1);
}

.page .content .post-list .post-item span {
  color: #212121;
  font-size: .9rem;
  font-weight: 300;
  text-transform: lowercase;
}

.page .content .post-list .post-item span a {
  font-weight: 400;
}

.page .content .all-posts {
  margin-left: 5px;
  margin-top: 10px;
}

.page .content .all-posts::after {
  content: ">>";
}

.page footer.footer {
  margin-bottom: 20px;
  margin-top: auto;
  text-align: center;
}