---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="post">
  <div class="post-header mb-8">
    <h1 class="post-title">{{ title }}</h1>
    <time class="post-date text-gray-600" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  </div>

  <div class="post-content">
    {{ content | safe }}
  </div>
</div>
{% include 'ads.njk' %}
<hr class="mb-5">
<div class="text-center">
  <h3>No seas tacaño y comparte</h3>
  <div class="flex flex-row justify-center">
    <a class="twitter-share-button mx-3"
      href="https://twitter.com/intent/tweet?text={{ description }}&via=RagnarokReinier&url={{ page.url | url | absoluteUrl(metadata.url) }}"
      data-size="large"
      target="_blank">
        <i class="fab fa-twitter-square fa-2x"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | url | absoluteUrl(metadata.url) }}" target="_blank" class="mx-3">
        <i class="fab fa-facebook-square fa-2x"></i>
    </a>
  </div>
</div>

<ul class="flex justify-between mb-8">
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}
    <li>
      <i>⇠</i>
      <a href="{{ nextPost.url | url }}" class="underline">{{ nextPost.data.title }}</a>
    </li>
    {% else %}
    <div></div>
  {% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}
    <li>
      <a href="{{ previousPost.url | url }}" class="underline">{{ previousPost.data.title }}</a><i>⇢</i>
    </li>
  {% endif %}
</ul>

<div data-webmentions="{{ page.url | url | absoluteUrl(metadata.url) }}" ></div>
